{#
/**
 * @file
 * Default template for the 'plain' country field formatter.
 *
 * Available variables:
 *   - country
 *
 * @ingroup themeable
 */
#}
<div class="country" translate="no">
  {% if country %}
    {{ country }}
  {% endif %}
</div>
<!-- Add you custom twig html here -->
